name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Создаем .env файл из секретов
      - name: Create .env file
        run: |
          echo "FERNET_KEY=${{ secrets.FERNET_KEY }}" >> .env

          echo "_AIRFLOW_WWW_USER_USERNAME=${{ secrets.AIRFLOW_WWW_USER_USERNAME }}" >> .env
          echo "_AIRFLOW_WWW_USER_PASSWORD=${{ secrets.AIRFLOW_WWW_USER_PASSWORD }}" >> .env

          echo "AIRFLOW_UID=${{ secrets.AIRFLOW_UID }}" >> .env
          echo "AIRFLOW_GID=${{ secrets.AIRFLOW_GID }}" >> .env

          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env

          echo "CLICKHOUSE_USER=${{ secrets.CLICKHOUSE_USER }}" >> .env
          echo "CLICKHOUSE_PASSWORD=${{ secrets.CLICKHOUSE_PASSWORD }}" >> .env

          echo "SUPERSET_ADMIN_USERNAME=${{ secrets.SUPERSET_ADMIN_USERNAME }}" >> .env
          echo "SUPERSET_ADMIN_EMAIL=${{ secrets.SUPERSET_ADMIN_EMAIL }}" >> .env
          echo "SUPERSET_ADMIN_PASSWORD=${{ secrets.SUPERSET_ADMIN_PASSWORD }}" >> .env

          echo "MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}" >> .env
          echo "MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}" >> .env

          echo "MINIO_PROD_BUCKET_NAME=${{ secrets.MINIO_PROD_BUCKET_NAME }}" >> .env
          echo "MINIO_DEV_BUCKET_NAME=${{ secrets.MINIO_DEV_BUCKET_NAME }}" >> .env

          echo "CONFIGPROXY_AUTH_TOKEN=${{ secrets.CONFIGPROXY_AUTH_TOKEN }}" >> .env

          echo "KAFKA_LOGIN=${{ secrets.KAFKA_LOGIN }}" >> .env
          echo "KAFKA_PASSWORD=${{ secrets.KAFKA_PASSWORD }}" >> .env
          
          echo "JIRA_PASS=${{ secrets.JIRA_PASS }}" >> .env

      - name: Проверка структуры
        run: |
          echo "Текущая директория: $(pwd)"
          ls -la
          ls -la dags
          ls -la plugins
          ls -la scripts

      # Копируем только dags, plugins и scripts на сервер
      - name: Copy DAGs, plugins, and scripts to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: |
            bootcamp_1/dags
            bootcamp_1/plugins
            bootcamp_1/scripts
          target: "/home/server/bootcamp"